div, button, input {
  font-family: 'Montserrat', sans-serif;
}

div {
  font-size: 14px;
}

button:hover {
  background-color: #CFD8DC;
}

button {
  border-radius: 2px;
  font-weight: 500;
  background-color: #FFE082;
  margin:2px;
  font-size: 14px;
  border: 0px;
}

button:focus {
  outline: none;
}

.specialbutton {
    width:100%;
    color:white;
    background-color: #2196F3;
    box-shadow: 0 2px 3px 0 #00000033, 0 2px 4px 0 #00000030;
}

.specialbutton:hover {
  background-color: #90A4AE;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 17px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: lightgray;
  border-radius: 0px;
  border: 0px solid #000101;
}

input {
  font-weight: 400;
  vertical-align: middle;
}

.flex-container {
  display: flex;
}

.flex-child {
  flex: 0.05;
  border: 4px;
  margin-right: 5px;
}

.collapsible {
  background-color: #FFCA28;
  padding: 2px;
  padding-left: 14px;
  padding-bottom: 0px;
  width: 350px;
  line-height: 2.5em;
  vertical-align: middle;
  text-align: left;
  outline: none;
  font-size: 14px;
  margin-bottom: 5px;
  box-shadow: 0 2px 3px 0 #00000033, 0 2px 5px 0 #00000030;
}

.collapsible:after {
  content: '\2b';
  font-size: 30px;
  color: rgb(39, 39, 39);
  float: right;
  margin-left: 5px;
  margin-right: 8px;
}

.active:after {
  content: "\2212";
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

pre code {
  position:relative;
  left:0px;
  top:-14px; 
  background-color: #eee;
  border: 1px solid #999;
  display: block;
  margin-left: 4px;
  height: 120px;
  width: 300px;
  overflow: auto;
  margin-bottom: 0px;
}